{
  "extends": "@antfu",
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "@typescript-eslint/semi": [
      "error",
      "always"
    ],
    "brace-style": "off",
    "@typescript-eslint/brace-style": [
      "error",
      "1tbs"
    ],
    "quotes": "off",
    "@typescript-eslint/quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ]
  }
}