@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100%;
}

@layer base {
  :root {
    --main: "#fff";
  }

  html,
  body {
    height: 100%;
    background-color: transparent;
  }

  html {
    font-family:
      bitter,
      "noto sans sc",
      "source han serif sc",
      "pingfang sc",
      "hiragino sans gb",
      "wenquanyi micro hei",
      sans-serif;
  }
}