@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100%;
}

@layer base {
  :root {
    --main: "#fff";
  }

  html,
  body {
    font-size: 14px;
    height: 100%;
    background-color: transparent;
  }

  html {
    font-family:
      bitter,
      "noto sans sc",
      "source han serif sc",
      "pingfang sc",
      "hiragino sans gb",
      "wenquanyi micro hei",
      sans-serif;
  }

  .container .scrollbar-track {
    background: transparent;
    transition: all 0.2s ease;
  }
  .container .scrollbar-track:hover {
    background: #ffffff20;
    border-radius: 4px;
  }
  .container .scrollbar-track:active {
    background: #ffffff20;
    border-radius: 4px;
  }
  .container .scrollbar-track-y:hover .scrollbar-thumb {
    width: 8px;
  }
  .container .scrollbar-track-y:active .scrollbar-thumb {
    width: 8px;
  }
  .container .scrollbar-track-x:hover .scrollbar-thumb {
    height: 8px;
  }
  .container .scrollbar-track-x:active .scrollbar-thumb {
    height: 8px;
  }
  .container .scrollbar-track .scrollbar-thumb {
    transition: all 0.2s ease;
    margin: auto;
    background: rgb(158, 160, 163);
  }
  .container .scrollbar-track-y .scrollbar-thumb {
    transition: all 0.2s ease;
    left: auto;
    right: 0;
    width: 2px;
  }
  .container .scrollbar-track-x .scrollbar-thumb {
    transition: all 0.2s ease;
    top: auto;
    bottom: 0;
    height: 2px;
  }
}